#apresentacao-produto div {
    position: absolute;
    background-color: rgb(150, 150, 150);
}

.produto {
    left: 37.5vw;
    top: 23vh;

    width: 25vw;
    height: 50vh;

    transition: all 0.3s ease-in-out;
}

#produto-pedra {
    z-index: 1;
}

#produto-corrente {
    z-index: 2;
}

#produto-pindurico-cruz {
    z-index: 3;
}

#produto-pindurico-centro {
    z-index: 4;
}

#produto-pindurico-extra {
    z-index: 5;
}

@media (max-width: 425px) {
    .produto {
        left: 1vw;
        width: 75vw;
    }
}