* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  height: 100vh;
  width: 100vw;

  background-color: gray; /* Vai ser trocado pela imagem de fundo*/

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
