#btn-buy{
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#btn-iwant{
    height: 90%;
    width: 50%;
    background-color: white;
    border-radius: 200px;
    font-family: 'julius';
    font-size: 20px;
    color: gray ;
}